* {
	margin:0;
	padding:0;
}

h1 {
  text-shadow: -2px 0 #FFFFFF, 0 2px #FFFFFF, 2px 0 #FFFFFF, 0 -2px #FFFFFF;
}

#app {
  font-family: Agency FB, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  font-size: 64px;

  background-image: url("../assets/bg-3-2.png");
}

.games {
  width: 100%;
}

.game-panel {
  background-color: #FFFFFF;
  border-width: 3px;
  border-color:#000000;
  border-radius: 5px;
  color: black;
  width: 240px;
  height: 245px;  
  text-align: center;
  display: inline-block;
  font-size: 16px;
  flex:1;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:20px;
}

.row {
  width: 80%;
  max-width: 1000px;
  justify-content: center;
  display:flex;
  flex-wrap:wrap;
  flex-direction: row;
  align-content: flex-start;
  flex-grow:initial;

  /*border-width: 5px;
  border-color:#ffff00;
  border-style: solid;*/
}

.center {
  margin: auto;
}

.game-picture {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  border-color:#858585;
}

.footer-bg {
  font-size:22px;
  margin-top: 10px;
  background-color:#5a5a5a;
  width:100%;
  height: 150px;
  position:relative;
  
  /*border-width: 5px;
  border-color:#ff0000;
  border-style: solid;*/
}

.footer-text {
  position: relative;
  top: 40%;
  vertical-align: baseline;
}

.header-text {
  line-height:65px;
  padding-top: 20px;
  margin-bottom: 25px;
} 

.banner-left {
  background-image: url("../assets/bg-3.png");
  height: 300px;
  width: 20%;
  position:absolute;
}

.game-panel:hover {
  cursor: pointer;
}

.current-game-button {
  margin-left:20%;
  margin-right:20%;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.return {
  background-color: #FFFFFF;
  border-width: 3px;
  border-color:#000000;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
  position:relative;
  width: 140px;
  height: 50px;
  margin-bottom:10px;
}

button::-moz-focus-inner {
  border: 0;
}

/*TIC-TAC-TOE*/

#tic-tac-toe {
  border-style: solid;
  font-weight: bold;
  font-size: 24px;
  width: 500px;
  height: 576px;
}

.header_tictac {
  display: flex;
  align-items: center;
  background: rgb(198, 234, 255);
}

.header__turn {
  padding: 12px;
  flex-grow: 1;
  text-align: center;
  margin-left: 45px;
}

.header__status {
  padding: 12px;
  flex-grow: 1;
  text-align: center;
  margin-right: 15px;
}

.header__restart {
  padding: 8px;
  flex-grow: 1;
  text-align: center;
}

.board {
  display: grid;
  background: #cecece;
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height:510px;
}

.board__tile {
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: cursive;

  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

.board__tile:hover {
  background: rgb(240, 240, 240);
}

.board__tile__winner {
  color:green;
}

/*END OF TIC-TAC-TOE*/

/*MEMORY*/

img {
  max-width: 100%;
  height: auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 0;
  max-width: 860px;
  margin: 0 auto;
  transition: 300ms;
}

.cards.is-Waiting {
  pointer-events: none;
}

.cards.is-Inactive {
  opacity: 0.5;
}

.stats {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin: 0;
  padding: 25px;
  color: white;
  font-size: 32px;
  position: fixed;
  top: 0;
  right: 0;
}

.stats li {
  display: block;
  text-align: left;
}

.won {
  position: fixed;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 5px;
  z-index: 100;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  min-width: 300px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.memory_new-game {
  padding: 12px;
  font-weight: bold;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  background-color: rgb(238, 228, 255);
}

#app > p {
  justify-content: center;
  position: relative;
  display: block;
  bottom: 7px;
}

/*BROKEN BOTTOM BUTTONS*/

.router-link-broken {
  margin: 0;
  padding: 0;
  width: 0px;
  display: inline-block;
}

.bottom-menu {
justify-content: center;
align-items: center;
height: 100px;
}

.center-attempt {
margin-left: -160px;
position: relative;
bottom: 8px;
}

/*END OF MEMORY*/

/*REACTION TIME*/

#reaction-time {
  border-style: solid;
  font-weight: bold;
  font-size: 24px;
  width: 500px;
  height: 576px;
  border-radius: 20px;
}

.reaction_header {
  display: flex;
  align-items: center;
  background: rgb(224, 224, 224);
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
}

.reaction_timer {
  padding: 12px;
  text-align: center;
  margin-left: 25px;
  width: 120px;
}

.reaction_status {
  padding: 12px;
  flex-grow: 1;
  text-align: center;
  margin-right: 25px;
}

.reaction_restart {
  padding: 8px;
  flex-grow: 1;
  text-align: center;
}

.reaction_board {
  display: grid;
  background: #000000;
  flex-grow: 1;
  height:510px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.reaction_board_tile {
  background: rgb(255, 16, 16);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 120px;
  font-family: cursive;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;

  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

.reaction_board_tile > p {
  position: relative;
  bottom: 10px;
}

.reaction_board_tile:hover {
  opacity: 0.88;
}

.board_tile_react {
  background-color: rgb(37, 255, 48);
}

.board_tile_react:hover {
  opacity: 0.96;
}

/*END OF REACTION TIME*/

/*CRACK THE SAFE*/

.safe_game {
    /*border-style: solid;
    border-color: rgb(0, 255, 0);
    border-width: 5px;*/
    
    font-weight: bold;
    font-size: 24px;
    /*padding: 5px;*/
}

.safe_panel {
  /*border-style: solid;
  border-width: 4px;*/
  
  justify-content: right;
  display: flex;
}

.safe_crack {
  display: inline-block;
  width: 100%;
  height: 280px;
  justify-content: center;
  flex-grow: 1;

  /*border-style: solid;
  border-color: rgb(0, 153, 255);
  border-width: 5px;*/
}

.safe_numbers {
  font-family: 'Lucida Sans';
  display: grid;
  background: #cecece;
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 500px;
  width: 350px;
}

.safe_console {
  font-family: 'Consolas';
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  flex: 1;
  line-height: 110%;
  letter-spacing: -1px;

  /*border-style: solid;
  border-color: rgb(255, 81, 0);
  border-width: 5px;*/
}

.safe_terminal {
  background-color: black;
  color: rgb(0, 235, 0);
  padding: 12px 15px 12px 15px;
  margin: 0px 16px 0px 16px;
  height: 500px;
  overflow-y: auto;
  text-align: justify;
}

.safe_password {
  display: grid;
  background: #cecece;
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  height: 150px;
  max-width: 500px;
  width: 100%;
}

.safe_password_text {
  display: inline-block;
  width: 250px;
  height: 90px;
}

.safe_tile {
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  font-family: Digital;
  font-weight: bold;

  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;

  box-shadow: 0 1px 2px rgb(116, 116, 116);
}      

.safe_tile:hover {
  background: rgb(240, 240, 240);
}

.safe_tile:active {
  box-shadow: 
        0 1px 2px #fff, /*bottom external highlight*/
        0 -1px 1px #666, /*top external shadow*/ 
        inset 0 0 10px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
        inset 0 1px 1px rgba(255,255,255,0.8); /*top internal highlight*/
}

.pass_invisible {
  font-size: 0px;
}

.pass_wrong {
  color: red;
}

@font-face {
  font-family: Digital;
  src: url(SevenSegment.ttf);
}

.safe_terminal::-webkit-scrollbar {
  width: 16px;
}

.safe_terminal::-webkit-scrollbar-track {
  background: #000000; 
}

.safe_terminal::-webkit-scrollbar-thumb {
  background: rgb(0, 245, 0); 
}

.safe_terminal::-webkit-scrollbar-thumb:hover {
  background:rgb(0, 235, 0); 
}

.rupa {
  margin-bottom: -10px;
}

.tile_disabled:active {
  box-shadow: 0 1px 2px rgb(116, 116, 116);
}

/*END OF CRACK THE SAFE*/

/*SWEEPER*/

.board_sweeper {
  display: grid;
  background: #cecece;
  gap: 6px;
  padding: 6px;
  flex-grow: 1;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height:510px;
}

.board__tile__sweeper {
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: cursive;

  user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}

#minesweeper {
  border-style: solid;
  font-weight: bold;
  font-size: 24px;
  width: 500px;
  height: 576px;
}

.header_sweeper {
  display: flex;
  align-items: center;
  background: rgb(198, 234, 255);
}

.header__sweeper__timer {
  padding: 12px;
  flex-grow: 1;
  text-align: center;
  width: 33%;
}

.header__sweeper__status {
  padding: 12px;
  flex-grow: 1;
  text-align: center;
  width: 33%;
}

.header__sweeper__smiley {
  padding: 12px;
  flex-grow: 1;
  text-align: center;
  width: 33%;
}

.header__restart {
  padding: 8px;
  flex-grow: 1;
  text-align: center;
}

.board {
  display: grid;
  background: #cecece;
  gap: 10px;
  padding: 10px;
  flex-grow: 1;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height:510px;
}

.board__tile__sweeper:hover {
  background: rgb(240, 240, 240);
}
